<%- include("header") -%>

      <div class="bfHeading">
            <h1> The following have been deleted </h1>
      </div>

      <% for( let index = 0; index < resetFood.length; index++ ) { %>
            <h2><%= resetFood[index] %></h2>
      <% } %>

</body>

</html>